h1 {
  color :#b300b3;
   background:white;
}

h2 {
   font-size : 28px;
   color : 00ffff;
}
p{
  color:e6b3ff
}
body{
  color:cc66ff;
  background:white;
  background-image: url(backgrond.jpg);
    background-size: 1300px 1000px
}
