body {
   background-image : url(SravyaPicture.jpg);
   text-align: center;
}

.gotohome {
    text-align: left;
}

h1 {
   color : #ff0080;
    font-size: 60px;
}

p {
  color : lightblue;
  font-size: 35px;
}
a {
    color:dodgerblue;
    font-size: 30px;
}

