html, body, h1, h2, p, ul, div {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

h1{
    color: whitesmoke;
    padding-bottom: 30px;
    border: 5px double #e60000;
    font-weight: bold;
}


body{
    background :white;
    margin-top: 30px;
    background-image: url(images/luke.gif)
}

p{
    margin-bottom: 100px;
}


a{

  color: greenyellow;

}

.intro{
    width: 800;
    border : 2px dashed;
    margin: 5px auto 20px auto;
    padding: 0px 0px 10px 10px;
    font-size: 14pt;
    background-image: url(images/red.jpg);
    color: white;
    opacity: 1.6;
    font-size: 16pt;
}

h1.header {
    text-decoration: underline;
    text-align: center;
}

ul.nav li {
    display: inline;
}

ul {
    margin-left: 10px;
}

