H1{
    border dashed #bb33ff
    padding: 0 0 0 0
    margin: 0 0 0 0
}


body {
   background : #ffccff;
   color : #ff9933;
}

h1 {
   color : #ff0080;
}

p {
  color : #bb33ff
}

li {
   color : #bb33ff
}

h2 {
   color : #ff3399
}
