html, body, h1, h2, p, ul, ol {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

h1 {
  text-align: center;
    color: white;
    padding-bottom: 7px;
}
p{
  color: orange;
}
h2{
    text-decoration: underline;
    border-bottom: 1px solid #CCCCCC;
    color:yellow;
background-repeat: no-repeat;
}
body{

font-family: Helvetica,Damascus
}
ol{
    color:orangered
}
ul{
    color:orangered
}
.header{
    padding: 10px 10px 10px 10px;
    background-color: #b56663;
}
.header a{
    text-decoration: none;
    color: white;
}
