head, h1, {
    text-align: center;
    color: deepskyblue
}

p {
    text-align: center;
    color: blue
}

body {
    background-image: url("http://4.bp.blogspot.com/-JvdMJvWXAqw/UZo2i8uHBsI/AAAAAAAAA9g/ocXl0qetuPI/s1600/vandrie_fire.gif");
}

li {
    margin-left: 20px;
    color: aquamarine
}
