html, body, h1, h2, ol, ul, p {
    padding: 0px;
    margin: 0px;
}

body {
    width: 800px;
    margin : 20px auto;
    background-image: url(neon.gif);
    background-repeat: repeat;
    color:#0099ff;
    background-image: url(Deadpool2.jpg);

}

h1 {
    padding: 10px 5px;
    border: 3px dashed #009999;
    margin 10px 5px;
    width: 100px;
    text-decoration: overline;
}

h2 {
    padding: 5px;
    border-bottom: 2px solid #ff0000;
    margin: 5px;
}
ul, ol {
    padding: 5px;
    margin: 5px;
}

p {
    margin-left: 10px;
}






