<style>
h1 {
  color :#b300b3;
   background:white;
}

h2 {
   font-size : 28px;
   color : yellow;
}
p{
  color:green;
}
body{
  color:cc66ff;
  background:white;
  background-image: url(favorite.jpg);
</style>

