<style>

h1 {
  color : 1aff1a;
  background : black;
}

body {
background : black;
color:1aff1a;
background-image:url("newbackim.jpg");
background-size:1200px 1000px;
background-position: center;
background-repeat: no-repeat;
}

h2 {
   font-size : 28px;
   color : blue;
}
p{
color:blue
}
nav{
    color:#66ffff;
}
</style>

