h1{
color:#3333ff;
}
p{
color: blueviolet;
    display: inline;
}
ol{
color: #006600;
}
ul{
color: #006600;
}
body{
    background-image: url(electron.gif)
}
h2{
padding-left: 500px;

color:#00997a ;
}
a{
    display: inline;
}
