h1{
color:#3333ff;
}
p{
color: white;
}
ol{
padding-left: 500px;
color: #006600;
}
ul{
padding-left: 500px;
color: #006600;
}
body{
background-image:url(wallpaper.jpg)
}
h2{
padding-left: 500px;

color:#00997a ;
}
a hover{
    color: deepskyblue;
    }
