h1{
color:#3333ff;
}
p{
color: lightpink;
    display: inline;
}
ol{
color: #006600;
    padding-left: 500px
}
ul{
color: #006600;
     padding-left: 500px
}
body{
    background-image:url(electron.gif);
    background-size: 1050px 1000px;
}
h2{
padding-left: 500px;

color:#00997a ;
}
a{
    display: inline;
    color: white;
}
h1{
    background: #9900cc;
}
