body {
   background-image : url(ShriyaPicture.jpg);
   text-align: center;


}

h1 {
   color : aqua;
    font-size: 60px;
}

p {
  color : aquamarine;
  font-size: 35px;
}
a {
    color:palegreen;
    font-size: 30px;
}
